<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" type="image/svg" href="images/title.svg">
    <script src="https://kit.fontawesome.com/8dd77b6d8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</head>

<body>
    <div class="sidebar">
        <div class="header">
            <div class="avatar">
                <img src="images/avatar1.svg" alt="Avatar">
            </div>
            <div class="chat-header-right">
                <i class="fa-solid fa-right-from-bracket fa-1x"></i>
            </div>
        </div>
        <div class="sidebar-search">
            <div class="sidebar-search-container">
                <i>
                    <ion-icon name="search-outline" style="color: black;"></ion-icon>
                </i>
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="sidebar-chats">
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>
            <div class="sidebar-chat">
                <div class="chat-avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="chat-info">
                    <h4>Shrujan Shashank</h4>
                    <p>Last Message</p>
                </div>
                <div class="time">
                    <p>2:44 pm</p>
                </div>
            </div>

        </div>
    </div>
    <div class="message-container">
        <div class="header">
            <div class="chat-title">
                <div class="avatar">
                    <img src="images/avatar2.svg" alt="user-profile">
                </div>
                <div class="message-header-content">
                    <h4>Shrujan Shashank</h4>
                    <p>online</p>
                </div>
            </div>
            <div class="chat-header-right" style="border-left:2px solid rgba(0, 0, 0, 0.1) ;">
                <i class="fa-solid fa-magnifying-glass"></i>

            </div>
        </div>
        <div class="message-content">
            <p class="chat-message">This is a message
                <span class="chat-timestamp">11:33pm</span>
            </p>
            <p class="chat-message chat-sent">This is a message
                <span class="chat-timestamp">11:34pm</span>
            </p>
            <p class="chat-message">This is a message
                <span class="chat-timestamp">11:35pm</span>
            </p>
            <p class="chat-message chat-sent">This is a message
                <span class="chat-timestamp">11:36pm</span>
            </p>
            <p class="chat-message">This is a message
                <span class="chat-timestamp">11:33pm</span>
            </p>
            <p class="chat-message chat-sent">This is a message
                <span class="chat-timestamp">11:34pm</span>
            </p>
            <p class="chat-message">This is a message
                <span class="chat-timestamp">11:35pm</span>
            </p>
            <p class="chat-message chat-sent">This is a message
                <span class="chat-timestamp">11:36pm</span>
            </p>
            <p class="chat-message">This is a message
                <span class="chat-timestamp">11:33pm</span>
            </p>
            <p class="chat-message chat-sent">This is a message
                <span class="chat-timestamp">11:34pm</span>
            </p>
            <p class="chat-message">This is a message
                <span class="chat-timestamp">11:35pm</span>
            </p>
            <p class="chat-message chat-sent">This is a message
                <span class="chat-timestamp">11:36pm</span>
            </p>
            <p class="chat-message">This is a message
                <span class="chat-timestamp">11:33pm</span>
            </p>
            <p class="chat-message chat-sent">This is a message
                <span class="chat-timestamp">11:34pm</span>
            </p>
            <p class="chat-message">This is a message
                <span class="chat-timestamp">11:35pm</span>
            </p>
            <p class="chat-message chat-sent">This is a message
                <span class="chat-timestamp">11:36pm</span>
            </p>
        </div>
        <div class="message-footer">
            <i class="fa-solid fa-image"></i>
            <i class="fa-solid fa-file-arrow-up"></i>
            <input type="text" placeholder="Type a message">
            <i class="fa-solid fa-paper-plane"></i>
        </div>
    </div>

</body>


</html>